.examiner-container {
  padding: 30px;
}

.exam-card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.exam-card h4 {
  margin-bottom: 5px;
}
